<h1>New track for <%=@owner.name%></h1>
<p>Start your own Track and get your friends or co-workers to be handicappers. Set your own contests. Who will win Sunday' big game?  Will that movie star marry this year? The potential contests are unlimited! See who can best handicap future events. </p>
<%= render 'form' %>

