<% content_for :pusher do %>
 var user_channel = pusher.subscribe('<%="my_open_contracts#{current_user.id}"%>');
   user_channel.bind('updateAllOpenContractsEvent', function(data) {eval( data) });

<%end%>
<h2>My Open Options </h2>
<div id='my_open_contracts'>
<%= render :partial => 'my_open_contracts' %>
</div>




