<p><%= link_to 'Join or Start a League', leagues_path, :class => 'btn' %> </p>
<h1>My Leagues</h1>

<table class='table table-striped table-bordered table-condensed'>

<% @leagueusers.each do |leagueuser| %>
  <tr>
    <%unless leagueuser.league.blank? %>
    <td><%= link_to leagueuser.league.name, league_path(:id => leagueuser.league_id), :class => 'btn btn-block' %></td>
    <%else%>
    <td><%= link_to 'No league', leagueuser_path(:id => leagueuser.id), :class => 'btn' %></td>
    <%end%>

  </tr>
<% end %>
</table>

<br />

