<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<% if user_has_role?('admin')%>
<%=link_to 'New Credits', new_credit_path(:user_id => @user.id), :class => 'btn btn-mini btn-warning' %>
<%=link_to 'Create Track', new_track_path(:user_id => @user.id), :class => 'btn btn-mini btn-warning' %>
<%end%>

