<h3>Welcome to Racetrack Rails</h3>

<h1>Listing Open Tracks</h1>

<%if @tracks.size > 0 %>
<table>

<% @tracks.each do |track| %>
  <tr>
    <td><%= link_to track.name, track_meets_path(:track_id => track.id), :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<%else%>
<h3>Sorry, No tracks are open at this time.</h3>
<%end%>



