<h3>Click the Meet you want to associate with your league</h3>

<table class='table table-striped table-bordered table-condensed'>

<% @meets.each do |meet| %>
  <tr>
    <td><%=link_to  "#{meet.track.name}--#{meet.name}", add_meetleagues_path(:league_id => @league.id, :meet_id => meet.id), :class => 'btn btn-block' %></td>

    <td><%= meet.description %></td>

  </tr>
<% end %>
</table>
